<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Properties>
        <Property name="basePath">target/test.log</Property>
        <Property name="layout">[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</Property>
    </Properties>

    <Appenders>
        <RollingFile name="RollingFile"
                     fileName="./target/test.log"
                     filePattern="./target/$test-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="${layout}"/>
            <TimeBasedTriggeringPolicy/>
        </RollingFile>

        <Console name="Console" target="SYSTEM_OUT" ignoreExceptions="false">
            <PatternLayout pattern="${layout}"/>
        </Console>

    </Appenders>

    <Loggers>
        <Root level="info" additivity="false">
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>